* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color:purple;
    color: #fe4164;
}

p {
    font-size:large;
}
header {
    padding: 20px 35px;
    background-color: purple;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    top:0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}


h2 {
    color: lightsteelblue;
    text-align: center;
}
.section {
    text-align: center;
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:salmon;
}

.title2 {
    display:inline-flex;
    margin-left: 50px;
}
a:hover {
    color:lightpink;

}

a img:hover {
    opacity: 0.3;
}
.title {
    color:salmon;
}

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/synthbackground.jpg");
    background-size: cover;
    background-position: 80%;
    height:250px;
}
.hero-cta {
    color: white;
}

.flex-row {
    display: flex;
  }

.websites {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .container {
    margin: 20px;
    flex: 1;
    background:purple;
  }
  
  .container2 {
      margin:20px;
      flex: 1;
      background: purple;
  }

  .container2 img {
    width: 50%;
    height: auto;
  }

  .container img {
    width: 100%;
    height: auto;
  }
  
  .website-info {
    padding: 25px;
    line-height: 1.3;
  }

.headshot {
    width: 30%;
    height: auto;
}
.intro {
    display: flex;
}

.bio {
    margin-left: 25px;
}

.contact {
    display:flex;
}

.ct {
    list-style: none;
    margin-left: 25px;
}