* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color:purple;
    color: #fe4164;
}

p {
    font-size:large;
}
header {
    padding: 20px 35px;
    background-color: purple;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

h2 {
    color: lightsteelblue;
}
.img-1 {
    display: flex;
    flex-wrap:wrap;
    max-height:250px;
    max-width:250px;
}
.img-2 {
    display: flex;
    flex-wrap: wrap;
    max-height:230px;
    max-width:230px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:salmon;
}

a:hover {
    color:lightpink;
}

.title {
    color:salmon;
}

.section {
    text align: left;
}

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/synthbackground.jpg");
    background-size: cover;
    background-position: 80%;
    height:250px;
}
.hero-cta {
    color: white;
}

.websites {
    width: 100%
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}